* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}

.container-xxl {
  width: 100%;
  margin: auto;
}
